body {
    margin: 0; /* Remove default margin */
    height: 200vh;
    overflow-x: hidden;
}

#header {
    height: 40vh;
    background-color: #EB455F;
}

#navbar {
    display: flex;
    align-items: center; /* Align items vertically in the flex container */
    padding: 1rem; /* Add padding for better spacing */
    background-color: #EB455F;
    width: 100%;
    top: 0;
}

#logo {
    max-height: 50px; /* Set a max height for the logo */
}

.navlist {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto; /* Align items to the right */
    column-gap: 3rem;
    transform: translateX(160%);
}

.navitem {
    margin: 0; /* Remove default margin for list items */
    position: relative; /* Set position relative for child positioning */
}

a {
    text-decoration: none;
    color: #FCFFE7;
    font-family: 'Poppins', sans-serif;
}

.hoverline {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FCFFE7;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
    z-index: 0;
}

.navitem:hover .hoverline {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#waves {
    margin-top: 20vh ;

}

.bigtext {
display: flex;
justify-content: center;
align-items: center;
}

#textcont {
display: block;
margin: 0;
}