body {
    padding-top: 80px;
    background-color: #2B3467;
    cursor: none !important;
  }

  .has-scroll-smooth [data-scroll-container] {
    transform: perspective(0.1px);
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

  .col button {
    width: 8rem;
    background: none;
    border: 2px solid #FCFFE7;
    color: #FCFFE7;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 0.5em 1em;
  }

  #main-navbar{
    transition: 0.25s;
  }

  body button{
    cursor: none !important;
  }

  .container{
    border-radius: 4rem ;
  }
  
  .col{
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #EB455F;
    padding: 0.5rem;
  }

  .navbar{
    padding: 0rem;
    border-bottom: solid 1px #FCFFE7;

  }

  .modal-content{
    color:#6A9C89;
  }
  
  .show-cart li {
    display: flex;
  }
  .card {
    background-color: #FCFFE7;
    margin-bottom: 20px;
    color: #6A9C89;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }

  .card a{
    background-color: #EB455F;
    outline: none;
  }

  .custom-cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red; /* Replace with your actual color value */
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(.3);
    z-index: 9999;
  }
  
  .custom-cursor--link {
    transform: translate(-50%, -50%) scale(1.25);
  }
  